html, body {
  background: #F2F2F2;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}
.container {
  padding: 0;
  width: 100%;

}
.container2 {
  width: 97%;
}


.header {
  margin: 0;
  padding: 0;
  border-bottom: 5px solid #90C3D4;
}
.header img {
  margin: 0 20px 0 0;
  height: 80px;
  width: 80px;
}
.header a {
  color: #06485E;
  font-size: 50px;  
  text-decoration: none; 
  text-transform: none;
}

.header button {
  float: right;
  margin: 15px 15px 0 0;
  background-color: #06485E;
}

.header button:hover {
  background-color: #90C3D4; 
}

.header a:hover {
  color: #90C3D4;
  text-decoration: none;   
}
.main h2 {
  background: #000;
  color: #fff;
  font-size: 16px;
  height: 80px;
  margin: 0;
  padding: 10px;
  position: absolute;
  width: 80px;
  z-index: 1;
}
.item {
  cursor: pointer;
  margin: 0;  
  padding: 0;
}

.item img {
  display: block;
  margin: auto;
  position: relative;
  width: auto;
  height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.item:hover {
  background: #06485E; 
  text-decoration: none;
  transition: background 500ms;
}
p.title {
  color: #000;
  text-align: left;
  text-transform: none;
  padding: 4px 24px 0px 24px;
  font-weight: bold;
}
p.author {
  color: #000;
  padding: 0px 24px 4px 24px;
  text-align: left;
}
.item:hover p.author, .item:hover a {
  color: #90C3D4;
  text-decoration: none;
}
.item:hover p.title {
  color: #fff;
  text-decoration: none;
}
.photo {
  margin: 0 0 80px;   
}
.photo img {
  width: 100%;
}
.photo h2 {
  color: #000;
  padding: 20px 108px; 
}
.photo p {
  color: #6f6f6f;
  margin: 0;
  padding: 0 108px 0;  
}

.photoSearch {
  text-transform: none;
  padding: 5px 0 5px 5px;

}

.btn-circle {
  float: right;
  min-width: 30px;
  width: auto;
  height: 30px;
  text-align: center;
  padding: 6px 6px 6px 6px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.glyphicon-heart-envelope-before {
  margin-right: 5px;
}
