<div class="photo">
  <div class="container">
    <img ng-src="{{ detail.url }}">
    <h2 class="photo-title"> {{detail.title}}
      <button type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-heart">{{detail.likes}}</i></button> 
    </h2>
    <p class="photo-author"> {{detail.author}} </p>
    <p class="photo-views"> {{detail.views | number}} </p>
    <p class="photo-upvotes"> {{detail.likes | number}} </p>
    <p class="photo-pubdate"> {{detail.pubdate | date}} </p>
  </div>
</div>

